# Режим выполнения
APP_ENV='local'
APP_DEBUG=true

# Порт для заросов от клиента
APP_PORT=8080

# Префикс статических ресурсов
STATIC_ROOT='/'

# Использовать кеш рендера
USE_CACHE=true

# Максимальное кол-во записей в кеше
CACHE_SIZE=100

# Время жизни кеша
CACHE_TTL=3000

# Папка для логов
# LOGS_DIR='/var/log/<project>'

BACKEND_HOST='rp.hm.dev'
BACKEND_PORT=80

#LOGMAIL_ENABLED=true
#LOGMAIL_HOST=smtp.yandex.ru
#LOGMAIL_PORT=465
#LOGMAIL_SECURE=true
#LOGMAIL_USERNAME=username
#LOGMAIL_PASSWORD=pass
#LOGMAIL_FROM_ADDRESS=my-email@ya.ru
#LOGMAIL_FROM_NAME=Эрорович
#LOGMAIL_TO_ADDRESS=to-email@ya.ru
#LOGMAIL_SLACK_WEBHOOK=https://hooks.slack/servises/XXXX0/XXXX/XXXXX
#LOGMAIL_SLACK_CHANNEL=#my-channel
